{% extends "base.html" %}

{% block title %}
<title> Технологии проекта "Yatube" </title>
{% endblock %}

{% block content %}

{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">

  <h1>Технологии проекта "Yatube"</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">
        Python
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fp5-XQFr_nk" frameborder="0" allowfullscreen></iframe>
      </li>
      
      <li class="list-group-item">
        Django
        <iframe width="560" height="315" src="https://www.youtube.com/embed/w4nrT7emiVc" frameborder="0" allowfullscreen></iframe>
      </li>
      <li class="list-group-item">
        HTML
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bWNmJqgri4Q" frameborder="0" allowfullscreen></iframe>
      </li>
      <li class="list-group-item">
        CSS
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iPV5GKeHyV4" frameborder="0" allowfullscreen></iframe>
      </li>
      <li class="list-group-item">
        Bootstrap
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WWtEPKaSpIw" frameborder="0" allowfullscreen></iframe>
      </li>
      <li class="list-group-item">
        Pythonanywhere
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MTBgioO0XcM" frameborder="0" allowfullscreen></iframe>
        
        
      </li>
    </ul>

  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}

  <article class="col-12 col-md-9">
    <p></p>
  </article>
</div>
{% endblock %} 