
{% extends 'base.html' %}

{% block title %}
  <title>
    Какой ты программист?
  </title>
{% endblock %}

{% block content %}
    <div class="col-xs-1" align="center">
    <h1>Какой ты программист?</h1>
    <span style="color: blue">(введи требуемые данные в поля,нажми кнопку и получишь результат)
    </span>
    <br>
    <br>
    <form method="post">
      {% csrf_token %}
      <label for="birth_month">
        Введите месяц вашего рождения (номер от 1 до 12):
      </label>
      <br>
      <input type="text" name="birth_month" value={{ birth_month_value }}>
      <br>
      <br>
      <label for="birth_day">
        Введите день вашего рождения (номер от 1 до 31):
      </label>
      <br>
      <input type="text" name="birth_day" value={{ birth_day_value }}>
      <br>
      <br>     
      <input type="submit" value="жми сюда,программист" style="background-color: blue; color: white; width: 30%; height: 4em;">

      <br>
    </form>
    <br>
    {% if joke_text %}
      <blockquote class="blockquote">

        <div style="width: 80%;">
          <p class="mb-0" style="font-size: 30px; font-weight: bold; border: 10px solid #0000FF; border-radius: 15px; padding: 10px;">
            {{ joke_text }}
          </p>
        </div>

      </blockquote>
      <footer class="blockquote-footer">
        оценка+пожелание 
        <cite title="Source Title">
          от сайта Беловой Н.
        </cite>
      </footer>
    {% endif %}
  </div>
{% endblock %}